* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
}
.row:first-of-type {
  align-items: end;
  margin-bottom: -50px;
}
.row:last-of-type {
  align-items: start;
}
.row .cup {
  width: 400px;
  height: 280px;
  background-image: linear-gradient(137deg, #fff 50%, #F3F3F3 50%);
  border-radius: 0 0 250px 250px;
  position: relative;
  z-index: 10;
}
.row .cup::before {
  content: "";
  width: 100px;
  height: 80px;
  border: 25px solid #F3F3F3;
  border-radius: 0 100px 100px 0;
  position: absolute;
  top: 0;
  right: -110px;
}
.row .cup .Steam {
  width: 90px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.5333333333);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.row .cup .Steam:nth-of-type(1) {
  animation: steam-anime1 5s infinite;
}
.row .cup .Steam:nth-of-type(2) {
  animation: steam-anime2 5s infinite;
}
.row .cup .Steam:nth-of-type(3) {
  animation: steam-anime3 5s infinite;
}
.row .cup .Steam:nth-of-type(4) {
  animation: steam-anime4 5s infinite;
}
.row .saucer {
  width: 450px;
  height: 70px;
  background-color: #F3F3F3;
  border-radius: 0 0 100px 100px;
}

@keyframes steam-anime1 {
  0% {
    transform: translateX(-50%) translateY(0) scale(0);
  }
  15% {
    transform: translateX(-30%) translateY(-100px) scale(1);
  }
  25% {
    transform: translateX(-10%) translateY(-200px) scale(1.2);
  }
  30% {
    transform: translateX(-10%) translateY(-200px) scale(1);
    visibility: hidden;
  }
  100% {
    transform: translateX(-10%) translateY(-200px) scale(1);
    visibility: hidden;
  }
}
@keyframes steam-anime2 {
  0% {
    transform: translateX(-50%) translateY(0) scale(0);
  }
  25% {
    transform: translateX(-70%) translateY(-100px) scale(1);
  }
  40% {
    transform: translateX(-70%) translateY(-100px) scale(1);
  }
  50% {
    transform: translateX(-90%) translateY(-200px) scale(1.2);
  }
  50% {
    transform: translateX(-90%) translateY(-200px) scale(1);
    visibility: hidden;
  }
  100% {
    transform: translateX(-90%) translateY(-200px) scale(1);
    visibility: hidden;
  }
}
@keyframes steam-anime3 {
  0% {
    transform: translateX(-50%) translateY(0) scale(0);
  }
  50% {
    transform: translateX(-30%) translateY(-100px) scale(1);
  }
  65% {
    transform: translateX(-30%) translateY(-100px) scale(1);
  }
  75% {
    transform: translateX(-10%) translateY(-200px) scale(1.2);
  }
  80% {
    transform: translateX(-10%) translateY(-200px) scale(1);
    visibility: hidden;
  }
  100% {
    transform: translateX(-10%) translateY(-200px) scale(1);
    visibility: hidden;
  }
}
@keyframes steam-anime4 {
  0% {
    transform: translateX(-50%) translateY(0) scale(0);
  }
  75% {
    transform: translateX(-70%) translateY(-100px) scale(1);
  }
  90% {
    transform: translateX(-90%) translateY(-200px) scale(1);
  }
  100% {
    transform: translateX(-90%) translateY(-200px) scale(1);
    visibility: hidden;
  }
}
.text {
  width: 100%;
  height: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text .box {
  position: relative;
  width: 0;
  height: 100px;
  overflow: hidden;
  animation: anime 5s steps(22) infinite alternate;
}
.text .box::before {
  content: "";
  width: 2px;
  height: 50px;
  background-color: #333;
  position: absolute;
  top: 45%;
  right: 0;
  animation: opacity 0.2s infinite;
}
.text .box h1 {
  width: 700px;
  font-size: 50px;
  color: #333;
  font-family: "Share Tech Mono", monospace;
  text-transform: uppercase;
  position: absolute;
  left: 0;
}
.text .child {
  width: 600px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
}

@keyframes anime {
  to {
    width: 600px;
  }
}
@keyframes opacity {
  to {
    opacity: 0;
  }
}/*# sourceMappingURL=master.css.map */